.cabeza {
    width: 100%;
    height: auto;
    min-height: 120px;
    background-color: $mainColor;
    border-bottom: $border;

    &__logo {
        width: 70px;
        height: 70px;
        margin-top: 10px;
    }

    &__lista {
        font-weight: 400;
    }
}